@import "foo.css";
@import "bar.css";

@mixin foo .foo;
@mixin bar .foo;

:root {
    --zero-unit-var: 0px;
    --main-color: red;
    --font-family: "Arial", "Helvetica", sans-serif;
    --font-weight-regular: 400;
    --z-index-base: 0;
}

.foo {
    @mixin foo;
    z-index: var(--z-index-base);
    display: block;
    color: var(--main-color);
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: var(--font-weight-regular);
    @mixin bar;
}

@media (width <= 600px) {
    .foo {
        font-size: 15px;
    }
}

@media (width <= 400px) {
    .foo {
        font-size: 10px;
    }
}

/* ==========================================================================
   Main comment block
   ========================================================================== */

.title {
    font-size: 1em;
    font-size: 20px;
}

/* Secondary comment block
   ============================================= */

.description {
    font-size: 15px;
}

/* Tertiary comment block & line/inline comments */

.tags {
    /* Line comment */
    background: red;

    /* Entry and exit of passphrase dots */
    &:last-child {
        margin-left: 0;
    }

    @nest .foo & {
        background: red;
    }

    /* Line comment 2 */
    /* Line comment 2.1 */
    transition: color 0.2s ease-out;  /* Inline comment */
}

/*
   Multi
   line
   comment
*/
