@import "foo.css";
@import "bar.css";

@mixin foo .foo;
@mixin bar .foo;

:root {
    --zero-unit-var: 0;
    --main-color: red;
    --main-color-rgb: 255, 0, 0;
    --font-family: "Arial", "Helvetica", sans-serif;
    --font-weight-regular: 400;
    --z-index-base: 0;
}

.foo {
    @mixin foo;
    z-index: var(--z-index-base);
    display: block;
    color: var(--main-color);
    font-family: var(--font-family);
    font-size: 2.5em;
    font-weight: var(--font-weight-regular);
    @mixin bar;
}

@media (width: 60em) {
    .foo {
        border-color: currentColor;
        color: rgba(var(--main-color-rgb), 0.8);
        font-size: 2em;
    }
}

@media (min-width: 65em) and (max-width: 75em) {
    .foo {
        display: none;
    }
}

@media (min-height: 20em) and (max-height: 30em) {
    .foo {
        display: none;
    }
}

@media (width <= 60em) {
    .foo {
        border-color: currentColor;
        font-size: 2em;
    }
}

@media (width <= 40em) {
    .foo {
        color: color(var(--main-color) a(0%));
        font-size: 1em;
        fill: transparent;
        stroke: inherit;
    }
}

/* ==========================================================================
   Main comment block
   ========================================================================== */

.title {
    font-size: 1em;
}

/* Secondary comment block
   ============================================= */

.description {
    font-size: 1.5em;
}

/* Tertiary comment block & line/inline comments */

.tags {
    /* Line comment */
    background: var(--color-red);

    /* Entry and exit of passphrase dots */
    &:last-child {
        margin-left: 0;
    }

    @nest .foo & {
        background: var(--main-color);
        box-shadow: 1em 0.5em 0.5em var(--color-black);
    }

    /* Line comment 2 */
    /* Line comment 2.1 */
    transition: color 0.2s ease-out;  /* Inline comment */
}

/*
   Multi
   line
   comment
*/
