@import "foo.css";
@import 'bar.css';
@mixin foo .foo;

@mixin bar .foo;

.foo {
    @mixin foo;
    z-index: 0;
    display: block;
    color: red;
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 20px;
    font-weight: 400;
    @mixin bar;
}
.bar {
    /* */
    color: red;
}

@media (width <= 600px) {

    .foo {
        font-size: 15px;
    }
}
@media (width <= 400px) {
    .foo {
        font-size: 10px;
    }
}
/* ==========================================================================
   Main comment block
   ========================================================================== */
.title {
    font-size: 20px;
}
/* Secondary comment block
   ============================================= */
.description {
    font-size: 15px;
}
/* Tertiary comment block & line/inline comments */
.tags {
    /* Line comment */
    background: red;
    /* Line comment 2.1 */
    transition: color 0.2s ease-out;  /* Inline comment */
}
/*
   Multi
   line
   comment
*/

h1 {
    margin-top: 0px;
}
